# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea
/back-end/.idea
/back-end/dist
/back-end/node_modules

/front-end/.idea
/front-end/.parcel-cache
/front-end/dist
/front-end/node_modules